<%- include("partials/header") %>
<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div><!--it will give us the title we have mainour main page-->
    <div class="ui top attached ">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>" >
            <div class="content"><!--it give us the date we created it -->

                <span><%= blog.created.toDateString() %></span>
            </div>
            <div class="description">
                <p><%- blog.body %></p><!--during giving description if i also(give html in it)
then it will also perform some actions on it-->
            </div>
            <a class="ui orange basic button" href="/blogs/<%= blog._id %>/edit">Edit</a>
            <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                <button class="ui red basic button">Delete</button>
            </form>
        </div>
    </div>
    
</div>

<%- include("partials/footer") %>